<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Definition for countryCollection -->
	<bean id="countryCollection" class="com.tam.app.CountryCollection">

		<!-- results in a setCountryList(java.util.List) call -->
		<property name="countryList">
			<list>
				<value>INDIA</value>
				<value>Pakistan</value>
				<value>USA</value>
				<value>Vietnam</value>
			</list>
		</property>

		<!-- results in a setCountrySet(java.util.Set) call -->
		<property name="countrySet">
			<set>
				<value>INDIA</value>
				<value>Pakistan</value>
				<value>USA</value>
				<value>Vietnam</value>
			</set>
		</property>

		<!-- results in a setCountryMap(java.util.Map) call -->
		<property name="countryMap">
			<map>
				<entry key="1" value="INDIA" />
				<entry key="2" value="Pakistan" />
				<entry key="3" value="USA" />
				<entry key="4" value="Vietnam" />
			</map>
		</property>

		<!-- results in a setCountryProp(java.util.Properties) call -->
		<property name="countryProp">
			<props>
				<prop key="one">INDIA</prop>
				<prop key="one">INDIA</prop>
				<prop key="two">Pakistan</prop>
				<prop key="three">USA</prop>
				<prop key="four">Vietnam</prop>
			</props>
		</property>
	</bean>

</beans>